body{

  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #201658;
}

.card {
    color: #98ABEE;
}
.card-title {
    color: #9A7EA6;
}
